@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

html {
    scroll-behavior: smooth;
}
body {
    background-color: #202020;
    font-family: "Playfair Display", serif;
    color: #959595;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    margin: 0;
    letter-spacing: -0.5px;
}

img {
    max-width: 100%;
}

a {
    color: #DEDEDE;
    text-decoration: none;
    transition: opacity 0.3s;
}

a:hover {
    opacity: 0.8;
}

.container {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.header {
    background: rgba(50, 50, 50, 0.7);
    backdrop-filter: blur(10px);
    padding: 20px 0;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    font-weight: 800;
    align-items: center;
    gap: 10px;
}

.header__nav {
    display: flex;
    gap: 60px;
}

.header__link {
    font-weight: 700;
    font-size: 18px;
}

.logo-main {
    width: 30px;
    height: 30px;
}



.welcome__title {
    width: 500px;
    font-weight: 700;
    font-size:54px;
    line-height: 1.19;
    color: #DEDEDE;
    margin-bottom: 24px;
    margin-top: 0;
}

.welcome__text {
    width: 395px;
    margin-bottom: 88px;
}

.btn {
    font-size: 18px;
    color: #FFFFFF;
    padding: 16px 48px;
    display: inline-flex;
    background: #9D9D9D;
    border-radius: 4px;
    gap: 16px;
}

.btn:hover {
    opacity: 0.8;
}
.btn::before {
    content: "";
    background-image: url("img/mail.webp");
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    width: 21px;  
    height: 30px;
}
.welcome__img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 105px;
}

.welcome {
    margin-top: 160px;

}
.welcome .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.works {
    margin-top: 140px;
}

.works__btn {
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #DEDEDE;
    gap: 10px;
    background: transparent;
    border: none;
    font-family: "Playfair Display", serif;
    letter-spacing: 1.5px;
    opacity: 0.7;
    margin-bottom: 80px;
}
.works__btn::before {
    content: "";
    background-image: url("img/стрелка.png");
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;  
    height: 24px;
}

.works__wrapper{
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 25px;
    padding-top: 140px;
}

.work {
    height: 888px;
    position: relative;
}

.work:nth-child(odd) {
    margin-top: -140px; 
}
.work__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.work__name {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 40px;
    transition: opacity 0.3s;
}
.work:hover {
    opacity: 1;
}

.work:hover .work__name {
    opacity: 1;
}


.projects {
    margin-top: 200px;
}

.projects__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.projects__title {
    margin-bottom: 65px;
}

.projects__img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.projects--round .projects__img {
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.title {
    font-weight: 700;
    margin-top: 0;
    font-size: 36px;
    text-align: center;
    color: #DEDEDE;
}

.contact {
    margin-top: 200px;
    margin-bottom: 120px;
}

.contact .container {
    max-width: 520px;
    text-align: center;
}

.contact__title {
    margin-bottom: 24px;
}

.contact__text {
    font-size: 26px;
    font-weight: 600;
    color: #959595;
    margin-bottom: 50px;
}

.footer {
    border-top: 1px solid #696969;
    padding: 40px 0;
}

.footer__copy {
    font-size: 16px;
    margin: 0;
}

.footer__copy span {
    color: #ECECEC;
}

.socials {
    display: flex;
    gap: 40px;
}

.footer .container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.socials__img {
    display: flex;
}

.burger-menu {
    display: none;
}

@media (max-width: 1100px) {
    .welcome__img {
        margin-right: 0;
    }
}

@media (max-width: 950px) {
    .welcome .container {
        flex-direction: column-reverse;
        gap: 65px;
    }
    .welcome__title {
        width: auto;
    }
    .welcome__text {
        width: auto;
    }
    .welcome__desc {
        text-align: center;
    }
    .work {
        height: 600px;
    }
    .work__name {
        opacity: 1;
    }
}

@media (max-width: 850px) {
    .projects__img {
        height: 300px;
        width: 300px;
    }
    .work, .projects, .contact {
        margin-top: 100px;
    }
}

@media (max-width: 770px) {
    .welcome__title {
        font-size: 36px;
    }
}

@media (max-width: 700px) {
    .footer .container {
        flex-direction: column-reverse;
        align-items: center;
        gap: 35px;
    }
}

@media (max-width: 650px) {
    .projects__img {
        width: 320px;  
        height: 320px;
    }
    .works__wrapper {
        grid-template-columns: 1fr;
        padding-top: 0;
    }
    .work:nth-child(odd) {
        margin-top: 0;
    }
    .work {
        margin-top: 0;
        margin-bottom: 0;
    }
    .projects--round .projects__img {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 500px) {
    .header {
        position: relative;
    }

    .header.header--mobile .header__nav {
        display: flex;
        align-self: center;
    }

    .header.header--mobile .container {
        flex-direction: column;
        align-items: flex-start;        
        gap: 20px;
    }

    .burger-menu {
        display: block;
        background-color: transparent;
        padding: 0;
        border: none;
        position: absolute;
        top: 29px;
        right: 15px;
    }
    
    .burger-menu__icon {
        height: 24px;
        width: 30px;
        object-fit: contain;
    }

    .header__nav {
        display: none;
    }
    .welcome__img {
        width: 240px;
        height: 240px;
    }
    .btn {
        padding: 16px 20px;
    }
    .works__btn {
        margin-bottom: 40px;
    }
    .work__name {
        font-size: 28px;
    }
    .title {
        font-size: 28px;
    }
    .projects__title {
        margin-bottom: 35px;
    }
    .contact__title {
        margin-bottom: 12px;
    }
    .contact .container {
        max-width: 270px;
    }
    .contact__text {
        font-size: 18px;
    }
    .contact {
        margin-bottom: 100px;
    }
}

@media (max-width: 420px) {
    .welcome__title {
        font-size: 26px;
    }
}